.header {
    max-width: 1500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.header-ttl{
    font-size: 30px;
    margin: 25px;
}

.header-nav{
    margin: 25px;
    font-size: 20px;
    font-weight: bold;
}

.header-nav-item {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
}

main {
    max-width: 1500px;
    position: relative;
}

.eyecatch-img-container {
    width: 50%;
    margin-left: auto;
}

.eyecatch-img {
    width: 100%;
}

.eyecatch{
    position: relative;
    width: 100%;
}

.catch-copy {
    font-size: 4rem;
    position: absolute;
    bottom:30%;
}

.bg-blue {
    width: 75%;
    height: 50%;
    background: blue;
    position: absolute;
    bottom: -20%;
    z-index: -1;
}